@model BLL.DTO.UserDTO

<div class="container__narrowBlockInfo">
    <div class="blockInfo__header">
        <span>Персональная информация</span>
    </div>
    <div class="blockInfo__nawworBody">
        <div class="nawworBody__info">
            <div class="nawworBody__info__label">
                <span>About me:</span>
            </div>
            <div class="nawworBody__info__description">
                @foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    <span>
                        @property.SimpleDisplayText
                    </span>
                }
                <span>
                    текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem nnnnnn mmmmm
                </span>

            </div>

        </div>
        <div class="nawworBody__info">
            <div class="nawworBody__info__label">
                <span>About me:</span>
            </div>
            <div class="nawworBody__info__description">
                <span>
                    текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem nnnnnn mmmmm
                </span>

            </div>

        </div>
        <div class="nawworBody__info">
            <div class="nawworBody__info__label">
                <span>About me:</span>
            </div>
            <div class="nawworBody__info__description">
                <span>
                    текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem nnnnnn mmmmm
                </span>

            </div>

        </div>
        <div class="nawworBody__info">
            <div class="nawworBody__info__label">
                <span>About me:</span>
            </div>
            <div class="nawworBody__info__description">
                <span>
                    текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem nnnnnn mmmm
                </span>

            </div>

        </div>
    </div>
</div>
<div class="container__wideBlockInfo">
    <div class="blockInfo__header">
        <span>Персональная информация</span>
    </div>
    <div class="blockInfo__wideBody">
        <div class="wideBody__info">
            <div class="info__label">
                <span>About me:</span>
            </div>
            <div class="info__description">
                <span>
                    текст-"рыба", часто испо в печати и вэб-дизайне.
                    Lorem nnnnnn mmmmm
                </span>

            </div>

        </div>
        <div class="wideBody__info">
            <div class="info__label">
                <span>About me:</span>
            </div>
            <div class="info__description">
                <span>
                    текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem nnnnnn mmmmm
                </span>

            </div>

        </div>

        <div class="wideBody__info">
            <div class="info__label">
                <span>About me:</span>
            </div>
            <div class="info__description">
                <span>
                    текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem nnnnnn mmmmm
                </span>

            </div>

        </div>
        <div class="wideBody__info">
            <div class="info__label">
                <span>About me:</span>
            </div>
            <div class="info__description">
                <span>
                    текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem nnnnnn mmmmm
                </span>

            </div>

        </div>

        <div class="wideBody__info">
            <div class="info__label">
                <span>About me:</span>
            </div>
            <div class="info__description">
                <span>
                    текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem nnnnnn mmmmm
                </span>

            </div>

        </div>



    </div>
</div>
