<div class="container__settingsMenu">
    <div class="settings__header">
        <span>Настройки профиля</span>
    </div>

    <div class="settingsMenu__body">
        <div class="settingsMenu__label">
            @Ajax.ActionLink("Персональная информация","Action","Link",new AjaxOptions() {UpdateTargetId = ""})
        </div>


        <div class="settingsMenu__label">
            @Ajax.ActionLink("Хобби", "Action", "Link", new AjaxOptions() { UpdateTargetId = "" })
        </div>


        <div class="settingsMenu__label">
            <span>Settings 3</span>
        </div>

        <div class="settingsMenu__label">
            <span>Settings 4</span>
        </div>
    </div>
</div>


