<div class="dialogs__container">

    <div class="dialogs__list">

        <div class="dialogs__header">
            <span>Диалоги</span>
        </div>

        @for (int i = 1; i <= 3; i++)
        {
            <div class="dialog">

                <div class="dialog__image">
                    <img />
                </div>

                <div class="dialog__info">

                    <div class="dialog__name">
                        <span>Алексей Кохонов</span>
                    </div>

                    <div class="dialog__message">
                        <span>Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message_Text-message</span>
                    </div>

                    <div class="dialog__time">
                        <span>01:23</span>
                    </div>

                </div>

                <div class="dialog__icon">
                    <img />
                </div>

            </div>
        }

    </div>

</div>
