@model WEB.Models.Profile.ProfileModel

<div class="container__narrowBlockInfo">
    <div class="blockInfo__header">
        <span>Персональная информация</span>
    </div>
    <div class="blockInfo__nawworBody">
       
        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            if ( property.PropertyName != "Id")
            {
                <div class="nawworBody__info">
                    <div class="nawworBody__info__label">
                        <span>@property.PropertyName</span>
                    </div>
                    <div class="nawworBody__info__description">
                        <span>
                            @(property.Model ??  "Не указано")
                        </span>

                    </div>

                </div>
            }

        }
    </div>
</div>
