@*@model WEB.Models.CombinedModels.UserProfileModel*@

@Html.Action("LeftMenu","Main",new {id = ViewContext.RouteData.Values["id"] })

<div class="container__body" id="userPage">
    @{
        string action = "";
        var values = ViewContext.RouteData.Values;
        switch (values["controller"].ToString().ToLower())
        {
            case "profile":
                action = "UserProfile";
                break;
        }
        TempData["call"] = "notAjax";
        @Html.Action(action, values["controller"].ToString(), new { id = values["id"] });
    }

    @* @Html.Action("UserProfile", "Profile", new { id = 2});*@
    @* @Html.Partial("_UserProfilePartial", Model.ProfileAboutModel);*@
</div>

